* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {

    /* Buttons from most light (100) to dark */
    --btn-100:#00BFFF;
    --btn-200:#00a2e0;
    --btn-300:#00619a;

    /* Text */
    --text-100:#ffffff;
    --text-200:#5c5c5c;
    --text-300: #333333;
    --text-400: #042c38;
    --text-not-allowed: #661212;
    --text-allowed: #0d4a0d;


    /* Background colors from most light (100) to dark */
    --bg-100:#E6F7FF;
    --bg-200:#dcedf5;
    --bg-300:#b4c4cc;
    --bg-not-allowed: #df5151;
    --bg-allowed: #52e352;

    /* Spatwater colors */
    --glacier: #7faec5;
    --alabaster: #fafafa;
    --soft-green: #4ecd5d;
    --river-bed: #384b61;
    --cool-grey: #919ea1;
    --blue-bayoux: #44686f;

    /* Style */
    font-size: 1em;

    /* Darkmode colors from most light (100) to dark */
    --primary-100: #ffffff;
    --primary-200: grey;
    --primary-300: darkgrey;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-200);
    line-height: 1.5;
  }
  
  main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  
  .left-article {
    background-color: var(--bg-200);
    width: 25%;
  }
  
  .right-article {
    background-color: var(--bg-100);
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    padding: 2em;
  }
  
  .nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  .btn-toggle {
    background-color: var(--primary-100);
    color: var(--primary-300);
    padding: 1em;
    border: none;
    font-weight: 600;
    border-radius: 1em;
    display: none;
  }
  
  .btn-toggle:hover {
    background-color: var(--bg-100);
    color: var(--text-100);
  }
  
  .logo {
    width: 75%;
    height: auto;
  }
  
  .nav-list {
    list-style: none;
    width: 100%;
  }
  
  .nav-item {
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 1.2em;
  }
  
  .nav-item a {
    padding: 1em;
    display:block;
    color: var(--text-100);
    text-decoration: none;
    padding: 1em;
  }
  
  .nav-item a:hover {
    background-color: var(--primary-100);
    color: var(--primary-300);
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: var(--text-100);
    background-color: var(--bg-200);
    padding: 1em;
    border-radius: 1em;
  }
  
  h2, h3 {
    color: var(--text-100);
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  .btn {
    display: inline-block;
    background-color: var(--accent-100);
    color: var(--accent-200);
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
    margin-top: 1em;
  }
  
  .btn:hover {
    background-color: var(--primary-100);
    color: var(--primary-300);
  }
  
  pre {
    background-color: var(--bg-200);
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
  }
  
  .btn-copy {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: var(--primary-100);
    color: var(--primary-300);
    height: 2.5em;
    width: 2.5em;
    border-radius: 1em;
    outline: none;
    border: none;
    font-weight: 600;
  }
  
  .btn-copy:hover {
    background-color: var(--bg-100);
    color: var(--text-100);
  }
  
  code {
    color: var(--primary-200);
  }
  
  .img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-200);
    border-radius: 1em;
    margin-top: 1em;
    padding: 1em;
  }
  
  .img-box img {
    width: 50%;
    height: auto;
  }
  
  .style-list {
    margin-top: 1em;
  }
  
  .style-list li {
    margin-bottom: 2em;
  }
  
  span {
    background-color: var(--accent-100);
    color: var(--accent-200);
    padding: 0.5em;
    border-radius: 1em;
  }
  
  .color-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: var(--bg-200);
    padding: 1em;
    border-radius: 1em;
  }
  
  .color-item {
    width: auto;
    height: auto;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-copy-circle {
    border-radius: 50%;
    padding: 2.5em;
    background-color: var(--text-200);
    display: flex;
    justify-content: center;
    border: none;
  }
  
  .btn-copy-circle:hover {
    opacity: 0.8;
  }
  
  .color-title {
    font-weight: 600;
  }
  
  .color-1 {
    background-color: var(--glacier);
  }
  
  .color-2 {
    background-color: var(--alabaster);
  }
  
  .color-3 {
    background-color: var(--soft-green);
  }
  
  .color-4 {
    background-color: var(--river-bed);
  }
  
  .color-5 {
    background-color: var(--cool-grey);
  }
  
  .color-6 {
    background-color: var(--blue-bayoux);
  }
  
  .color-info {
    list-style: none;
    margin-top: 1em;
  }
  
  .info-item {
    margin-bottom: 1em;
  }
  
  .example-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: var(--bg-200);
    border-radius: 1em;
    padding: 1em;
  }
  
  .allowed-badge {
    display: inline-block;
    background-color: var(--bg-500);
    padding: 0.5em;
    border-radius: 1em;
    color: var(--text-400);
    font-weight: 600;
    margin: 1em 0;
  }
  
  .not-allowed-badge {
    display: inline-block;
    background-color: var(--bg-400);
    padding: 0.5em;
    border-radius: 1em;
    color: var(--text-300);
    font-weight: 600;
    margin: 1em 0;
  }
  
  .color-example {
    background-color: var(--primary-100);
    padding: 1em;
    width: 50%;
    height: 10em;
  }
  
  .color-example:nth-child(1) {
    margin-right: 1em;
  }
  
  .example-box-1 {
    background-color: var(--alabaster);
    color: var(--blue-bayoux);
  }
  
  .example-box-1 h3 {
    color: var(--river-bed);
    font-size: 1.6em;
    margin: 0.5em 0;
  }
  
  .example-box-2 {
    background-color: var(--alabaster);
    color: var(--blue-bayoux);
  }
  
  .example-box-2 h3 {
    color: var(--glacier);
    font-size: 1.6em;
    margin: 0.5em 0;
  }
  
  .example-box-3 {
    background-color: var(--glacier);
    color: var(--blue-bayoux);
  }
  
  .example-box-3 h3 {
    color: var(--blue-bayoux);
    font-size: 1.6em;
    margin: 0.5em 0;
  }
  
  .example-box-4 {
    background-color: var(--soft-green);
    color: var(--blue-bayoux);
  }
  
  .example-box-4 h3 {
    color: var(--blue-bayoux);
    font-size: 1.6em;
    margin: 0.5em 0;
  }
  
  .photo-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background-color: var(--bg-200);
    border-radius: 1em;
    padding: 1em;
  }
  
  .photo-item {
    background-color: var(--alabaster);
    width: 20em;
    margin: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
  }
  
  .photo-info {
    padding: 1em;
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
  }
  
  .photo-item h3 {
    color: var(--glacier);
    font-size: 1.4em;
    margin: 0.5em 0;
  }
  
  .photo-item p {
    color: var(--blue-bayoux);
  }
  
  .heading-list {
    list-style: none;
    margin-top: 1em;
  }
  
  .heading-1 {
    display: inline-block;
    color: var(--glacier);
    margin: 0.5em 0;
  }
  
  .heading-2 {
    display: inline-block;
    color: var(--river-bed);
    margin-bottom: 0.5em;
    border-bottom: 0.1em solid var(--soft-green);
  }
  
  @media only screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
    
    .btn-toggle {
      display: flex;
    }
  
    .logo {
      width: 30%;
    }
  
    .nav-list {
      display: none;
    }
  
    .left-article, .right-article {
      width: 100%;
    }
  
    .left-article {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }
  
    .right-article {
      margin-top: 5em;
    }
  
    pre {
      overflow: scroll;
    }
  
    /* Kleur */
    .color-box {
      flex-direction: column;
    }
  
    .example-list {
      flex-direction: column;
    }
  
    .color-example {
      width: 100%;
      height: auto;
    }
  
    .color-example:nth-child(1) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  
    .photo-list {
      flex-direction: column;
    }
  
    .photo-item {
      width: 100%;
    }
  }

  

  /* darkmode */

  @media (prefers-color-scheme: dark) {
    .right-article {
      background-color: var(--primary-200);
      color: var(--primary-100);
    }

    h2 {
      color: var(--primary-100);
    }

    .nav-list .nav-item a {
      color: var(--primary-100);
    }

    .left-article, h1, a {
      background-color: var(--primary-300);
      color: var(--primary-100)
    }
  }

  /* lightmode */

  @media (prefers-color-scheme: light) {
    .right-article {
      color: black;
    }

    h2 {
      color: black;
    }

    .nav-list .nav-item a {
      color: black;
    }

    .left-article, h1, a {

      color: black;
    }



  }